<br>
<div style="text-align: center">
    <h1 style="text-align:center">Thank you for your purchase in our store!</h1>
<br>
    <a href="/" type="button" class="btn btn-info" >Back to home page</a>
</div>